
*.xcworkspacedata

*.xcuserstate

*.xcsettings

*.xcbkptlist

*.xcscheme

ICETutorial.xcodeproj/xcuserdata/patrick.trillsam.xcuserdatad/xcschemes/xcschememanagement.plist

ICETutorial.xcodeproj/xcuserdata/patrick.trillsam.xcuserdatad/xcschemes/ICETutorialSwift.xcscheme

ICETutorial.xcodeproj/xcuserdata/patrick.trillsam.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

ICETutorial.xcodeproj/project.xcworkspace/xcuserdata/patrick.trillsam.xcuserdatad/WorkspaceSettings.xcsettings

ICETutorial.xcodeproj/project.xcworkspace/xcuserdata/patrick.trillsam.xcuserdatad/UserInterfaceState.xcuserstate

ICETutorial.xcodeproj/project.xcworkspace/contents.xcworkspacedata
